
#carQuiz {
    background: #111;
    color: #fff;
    padding: 2rem;
    border-radius: 12px;
    margin: 6rem auto;
    max-width: 800px;
    box-shadow: 0 0 12px #00aaff;
    font-size: 1.5rem;
    text-align: left;
  }
  
  .quiz-question {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
  
  
  .result-box h3 {
    color: #00aaff;
  }
  
  #quizForm button {
    background-color: #1b5c7c;
    color: #fff;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #quizForm button:hover {
    background-color: #24253f;
  }
  .result-box {
    margin-top: 20px;
    padding: 20px;
    background: #111;
    border: 2px solid #2c6481;
    border-radius: 12px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .result-box h3 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #202f888f;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  